.main_container {
    font-family: 'inter', sans-serif;
    display: block;
    text-align: justify;
      
}
#source {
    text-decoration: none;
    color: black;   
    
}
#source h1 {
    padding-left: 30px;
    padding-top: 50px;
    width: 60%;

}
#img {
   height: 500px;
   width: 55%;
   padding-left: 30px;
   padding-top: 10px;

}
#description {
   max-width: 55%;
   padding-left: 30px;
   padding-top: 10px;
   font-size: 21px;

}
#comment-section {
   padding-top: 70px;
   
}
#sec {
    align-items: left;
    width: 85%;
    margin-left: 25px;
    display: inline-table;
    padding: 0;
  
}
#mssg {
    font-size: 23px;
    padding-left: 5px;
    margin-left: 0;
   
}
#user-input{ 
   border: none;
   border-bottom: 1px solid #333;
   width: 50%;
   outline: none;
   background-color: tranparent;

}
#user-input::placeholder {
   font-style: italic;

}
#total-comments {
    text-align: center;
    
} 
.btn {
   float: right;
   background: none;
   border: none;
   padding-bottom: 20px;
   padding-right: 320px;
   
}

#send-icon {
   width: 25px;
   height: 25px;

}
#result-list {
   margin-top: 0;

}
.result_container {
  font-family: 'inter', sans-serif;
  flex-direction: column;
  gap: 10px;

}
.user { 
  font-family: 'inter', sans-serif;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  box-shadow:  5px 5px 10px 2px rgba(0, 0, 0, 0.5);

}

