<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div id="alert-container" style="position: fixed; top: 10px; width: 100%; text-align: center; z-index: 1050;"></div>
 
  <div class="login-container">
       <h2>Register</h2>
       <table>
         <tr>     
           <td><input id="get_user" type="text" placeholder="Username"></td>
         </tr>
         <tr>
           <td><input id="get_password" type="text" placeholder="Password"></td>
         </tr>
       </table>
      <br>
      <button id="register_btn">Submit</button>
</div>

<script type="module" src="{{ url_for('static', filename='javascript/authenticator/register_logic.js') }}"></script>

</body>
</html>